@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');


$theme1:#f2f2f2;;
$theme-blue:#2487ce;
$date-gray:grey;

*{font-family: poppins;}

body{
  font-family: "Poppins";
  margin: 0;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
li{font-size: larger;}
.wrapper{
padding: 5rem 15%;
background-color: #FFFAF4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(258,960,464)'%3E%3Cstop offset='0' stop-color='%23FFFAF4'/%3E%3Cstop offset='1' stop-color='%23FFFAF4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='311' height='259.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.02'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
height: 100%;

}

p{
  font-weight: 600;
  font-size: large;
  text-shadow: #b8a9a9; 

}

//navbar
.top--nav{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e4e0e0e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo--div{margin-left: 4rem;
  h1{
    font-family: poppins;
    font-weight: 500;
    text-shadow: 2px 2px 4px #f0ebeb;

  }

}
.nav--links{
  display: flex;
  justify-content: center;
  align-items: center;



}
.auth--links{
  margin-right: 4rem;
}
.links--ul{
  display: flex;
  margin-bottom: 0;
  flex-wrap: wrap;
  a{
    color: #161313;

  }



}
.link--li{
  list-style-type: none;  
  align-self: center;
  padding: 5px 12px;
  font-family: poppins;
  font-weight: 400;
  text-shadow: 1px 1px 2px #e0d7d7;


}
.link--li:hover{color: rgba(6, 74, 199, 0.726);}
.login{
  // background: $button-blue;
  // background: linear-gradient(90deg, rgb(13, 113, 194) 0%, rgba(11,178,214,1) 46%, rgb(31, 161, 197) 90%, rgb(6, 144, 172) 100%);
  border-radius: 20px;
  width: 120px;
  text-align: center;
  text-shadow: 1px 1px 2px #e0d7d7;
  background-color: #00b7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");


}
.login:hover{
  background-color: #FF1479;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  color: rgb(59, 57, 57);
 

}

//Header 
.banner
{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d3d2d2e7;
  h1,h4{
    color: #124265;
  }
  p{color: #5a5c5f;}
  
  //  background-color: #1589BA;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg fill-opacity='0.95'%3E%3Crect fill='%231589BA' width='11' height='11'/%3E%3Crect fill='%231588b8' x='10' width='11' height='11'/%3E%3Crect fill='%231686b7' y='10' width='11' height='11'/%3E%3Crect fill='%231685b5' x='20' width='11' height='11'/%3E%3Crect fill='%231684b4' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%231682b2' y='20' width='11' height='11'/%3E%3Crect fill='%231681b1' x='30' width='11' height='11'/%3E%3Crect fill='%231780af' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23177fad' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23177dac' y='30' width='11' height='11'/%3E%3Crect fill='%23177caa' x='40' width='11' height='11'/%3E%3Crect fill='%23177ba9' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23177aa7' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%231778a6' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%231777a4' y='40' width='11' height='11'/%3E%3Crect fill='%231776a3' x='50' width='11' height='11'/%3E%3Crect fill='%231874a1' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2318739f' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2318729e' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%2318719c' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23186f9b' y='50' width='11' height='11'/%3E%3Crect fill='%23186e99' x='60' width='11' height='11'/%3E%3Crect fill='%23186d98' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23186c96' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23186a95' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23176993' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23176891' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23176790' x='70' width='11' height='11'/%3E%3Crect fill='%2317658e' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2317648d' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2317638b' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2317628a' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23176188' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23175f87' x='80' width='11' height='11'/%3E%3Crect fill='%23175e85' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23165d84' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23165c82' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23165b81' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2316597f' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2316587e' x='90' width='11' height='11'/%3E%3Crect fill='%2316577c' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2315567b' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23155579' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23155378' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23155276' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23155175' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23145073' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23144f72' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23144e70' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23144c6f' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23134b6d' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23134a6c' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2313496a' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23134869' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23124767' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23124666' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23124464' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23124363' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23114261' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23114160' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  // background-attachment: fixed;
  // background-size: cover;
  
  
  

}


//Topic--Card--
.topic--section{
  width:100%;
  display: flex;
  margin: 10px 0;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e4e0e0e7;
  padding: 50px;

}
.card--div{

  width: 300px;
  height: 200px;
  border-radius: 1px;
  background-color: #f2f2f2;
  color:$theme-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

  

}



//Footer


//
.container{
}
.question--header{
  width: 100%;
  background-color: white;
  border-style: dashed;
}

.question--container{

  border-radius: 5px;
  margin: 5px;
  
 

}
.question--title-div{
  display: flex;
  justify-content: space-between;
  background-color: $theme1;
  border-radius: 5px;
  color: #222121;

}
.question--icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  h4{
    padding-left: 2rem;
    font-size: large;
  }
}
.question--date{
  color:$date-gray ;
  h6{
      font-size: small;
      padding-top: 10px;
      padding-right: 2rem;

  }

}
.question--title{
}
// .question--body{
//   color: rgb(102, 96, 96);
//   padding-left: 2rem;
// }

//Phone Media 
@media screen and (max-width: 850px) {
  .wrapper{padding: 25px 4%;}
  //navbar 
  .top--nav{flex-direction: column;justify-content: center;align-items: center; }
  .nav--links{flex-direction: column; }
  .logo--div{margin-left: 0;margin-bottom: 10px;}
  .links--ul{flex-direction: column;justify-content: center; align-items: center; font-size: larger;padding: 0;}
  .auth--links{flex-direction: column;margin: 0;margin-top: 15px; }
  .login{border-radius: 1px;padding: 0; background-color:none ;background-image: none;
  }
  //banner
  .topic--section{width: 100%;padding: 40px 2px;}
  .card--div{width: 80%;}


}